<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Article List</h2>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col"
            width="10%">State</th>
        <th scope="col"
            width="20%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let article of articles">
        <tr>
          <th>{{article.id}}</th>
          <td>{{article.title}}</td>
          <td>{{publishState(article.state)}}</td>
          <td class="text-right">
            <app-action (edit)="edit(article.id)"
                        (view)="view(article.id)"
                        (delete)="delete(article.id)"></app-action>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>
